<a href="https://colab.research.google.com/github/yasuke123/perium-/blob/main/NYPD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAAN 822 Data Collection & Cleaning (2025)
## Group 5: Afolabi Isiaka, Matthew Kucas
## The New York City Police Department Stop-and-Frisk Program: Recent Trends

# SECTION 1: Create Stop and Frisk data file

This section retrieves Stop and Frisk data from the NYPD website https://www.nyc.gov/site/nypd/stats/reports-analysis/stopfrisk.page and combines the data into a single repository - Stop_and_Frisk_Data.csv.

In [221]:
#import pandas - will write downloaded data to data frames
import pandas as pd
#import zipfile for zip file extraction
import zipfile
#import urlretrieve from urllib, wich is packaged with Python and can retrieve files directly from the web
from urllib.request import urlretrieve

In [222]:
#files from 2003 through 2014 in zip format - csv within each zip with naming convention YYYY.csv

#loop through years
years = ['2012','2013','2014']
counter = 0 

for year in years:
    zipurl = 'https://www.nyc.gov/assets/nypd/downloads/zip/analysis_and_planning/stop-question-frisk/sqf-' + year + '-csv.zip'
    csvfile = year + '.csv'
    
    data = urlretrieve(zipurl)
    
    #extract zip files - the first element in data is the temp file with the zip contents
    #ref https://gist.github.com/ZeccaLehn/140edc75ff9d2c7cf9f660028763c9f5
    z = zipfile.ZipFile(data[0])
    z.extractall()
    
    #read extracted csv file into dataframe
    df = pd.read_csv(csvfile,low_memory=False)
    
    if counter == 0:
        all_data = df
    else:
        all_data = pd.concat([all_data, df], axis=0)
    
    counter+=1

In [223]:
#visualize data
all_data

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,...,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm,dettypCM,lineCM,detailCM
0,2012,40,17,1012012,115,1,O,P,2.0,ROBBERY,...,*,,1008031,233036,CM,1,85,NaN,NaN,NaN
1,2012,23,691,1012012,310,1,I,P,2.0,M,...,,12,1000852,228179,CM,1,9,NaN,NaN,NaN
2,2012,81,3714,1012012,2000,1,O,P,1.0,ROBBERY,...,3,,1001869,190702,CM,1,85,NaN,NaN,NaN
3,2012,81,633,1022012,1245,1,O,P,3.0,ROBBERY,...,*,,1005306,186668,CM,1,85,NaN,NaN,NaN
4,2012,66,36,1042012,2220,A,O,P,2.0,FELONY,...,,,986887,173599,CM,1,46,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45782,2014,106,2283,12312014,1838,1,O,P,2.0,FELONY,...,,,1027746,177325,NaN,NaN,NaN,CM,1.0,20.0
45783,2014,72,205,12312014,1910,A,O,P,3.0,FEL,...,10,,983722,179774,NaN,NaN,NaN,CM,1.0,85.0
45784,2014,60,710,12312014,2016,1,I,H,1.0,MISD.,...,,,990272,154743,NaN,NaN,NaN,CM,1.0,31.0
45785,2014,79,1475,12312014,2320,1,O,P,1.0,ASSAULT,...,13,,997168,192448,NaN,NaN,NaN,CM,1.0,9.0
45786,2014,28,284,12312014,2342,1,O,P,1.0,MISD,...,,14,997178,231521,NaN,NaN,NaN,CM,1.0,20.0

In [224]:
#files from 2015 and 2016 in csv format
#csv files can be downloaded and read directly into a pandas dataframe using read_csv

#loop through years
years = ['2015']

for year in years:
    csvurl = 'https://www.nyc.gov/assets/nypd/downloads/excel/analysis_and_planning/stop-question-frisk/sqf-' + year + '.csv'

    df = pd.read_csv(csvurl)
    
    all_data = pd.concat([all_data, df], axis=0)

In [225]:
#visualize data
all_data

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,...,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm,dettypCM,lineCM,detailCM
0,2012,40,17,1012012,115,1,O,P,2.0,ROBBERY,...,*,,1008031,233036,CM,1,85,NaN,NaN,NaN
1,2012,23,691,1012012,310,1,I,P,2.0,M,...,,12,1000852,228179,CM,1,9,NaN,NaN,NaN
2,2012,81,3714,1012012,2000,1,O,P,1.0,ROBBERY,...,3,,1001869,190702,CM,1,85,NaN,NaN,NaN
3,2012,81,633,1022012,1245,1,O,P,3.0,ROBBERY,...,*,,1005306,186668,CM,1,85,NaN,NaN,NaN
4,2012,66,36,1042012,2220,A,O,P,2.0,FELONY,...,,,986887,173599,CM,1,46,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22558,2015,73,302,12312015,2250,1,O,P,1.0,FELONY,...,,,1008129,179818,NaN,NaN,NaN,CM,1.0,20.0
22559,2015,88,114,12312015,2305,1,I,H,1.0,FELONY,...,,,989931,192868,NaN,NaN,NaN,CM,1.0,20.0
22560,2015,88,113,12312015,2305,1,I,H,1.0,FELONY,...,,,989931,192868,NaN,NaN,NaN,CM,1.0,20.0
22561,2015,19,258,12312015,2345,1,O,P,1.0,FEL,...,,,995795,217850,NaN,NaN,NaN,CM,1.0,14.0
22562,2015,106,1503,12312015,2358,1,O,P,1.0,FELONY,...,,,1036870,182369,NaN,NaN,NaN,CM,1.0,85.0

In [226]:
#create combined csv file with all selected years' data
#index=False to remove the index numbers of the rows

all_data.to_csv("..\\Data_Warehouse\\NYPD_Stop_and_Frisk.csv", index=False, encoding='utf-8')

# SECTION 2: Create NYC crime data file

This section retrieves NYC crime statistics from the NYPD website https://www.nyc.gov/site/nypd/stats/reports-analysis/crime-enf.page and combines the data into a single repository - crime_data.csv.

In [242]:
#zip file contains Excel file for each year 2008-2023 with filename convention 'Enforcement Report Year YYYY tables.xls'

zipurl = 'https://www.nyc.gov/assets/nypd/downloads/zip/analysis_and_planning/crime-and-enforcement-report-data-tables-2008-2023.zip'

crimedata = urlretrieve(zipurl)

#extract zip file - the first element in data is the temp file with the zip contents
#ref https://gist.github.com/ZeccaLehn/140edc75ff9d2c7cf9f660028763c9f5
z = zipfile.ZipFile(crimedata[0])
z.extractall()

#create empty dataframe to store crime statistic data
crimestats = pd.DataFrame(columns=['Year','Reason','Status','Category','Value'])

#loop through years
years = ['2012','2013','2014','2015']
index = 0

for year in years:
    excelfile = 'Enforcement Report Year ' + year + ' tables.xls'

    #read extracted csv file into dataframe
    df = pd.read_excel(excelfile, sheet_name=None)

    #loop through worksheets in each year's crime stat spreadsheet; record data into single data frame
    for worksheet in ['page ii','page 1','page 2','page 3','page 4','page 5','page 6','page 7','page 8',
                       'page 9','page 10','page 11','page 12','page 13','page 14','page 16']:
        crimestats.loc[index] = ['','','','','']
        
        if worksheet == 'page 12':
            for row in [4,5,6,7,8,9,10,11]:
                crimestats.loc[index,'Year']=year
                crimestats.loc[index,'Reason']=df[worksheet].loc[1,'Unnamed: 0']
                crimestats.loc[index,'Status']='Arrestee'
                crimestats.loc[index,'Category']=df[worksheet].loc[row,'Unnamed: 0']
                crimestats.loc[index,'Value']=df[worksheet].loc[row,'Unnamed: 1']
            
                index += 1       
                
        elif worksheet == 'page 14':
            for column in ['Unnamed: 1','Unnamed: 2']:
                for row in [5,6,7,8,9,10,11,12]:
                    crimestats.loc[index,'Year']=year
                    crimestats.loc[index,'Reason']=df[worksheet].loc[1,'Unnamed: 0']
                    crimestats.loc[index,'Status']=df[worksheet].loc[4,column]
                    crimestats.loc[index,'Category']=df[worksheet].loc[row,'Unnamed: 0']
                    crimestats.loc[index,'Value']=df[worksheet].loc[row,column]
            
                    index += 1
            
        else:
            for column in ['Unnamed: 1','Unnamed: 2','Unnamed: 3']:
                for row in [4,5,6,7,8,9,10,11]:
                    if worksheet == 'page 13':
                        row = row + 1
                    crimestats.loc[index,'Year']=year
                    crimestats.loc[index,'Reason']=df[worksheet].loc[1,'Unnamed: 0']
                    if worksheet == 'page 13':
                        crimestats.loc[index,'Status']=df[worksheet].loc[4,column]
                    else:
                        crimestats.loc[index,'Status']=df[worksheet].loc[3,column]
                    crimestats.loc[index,'Category']=df[worksheet].loc[row,'Unnamed: 0']
                    crimestats.loc[index,'Value']=df[worksheet].loc[row,column]
            
                    index += 1

In [243]:
#visualize crimestats data frame
crimestats

,Year,Reason,Status,Category,Value
0,2012,Misdemeanor Criminal Mischief,Victim,AMER IND,0.007
1,2012,Misdemeanor Criminal Mischief,Victim,ASIAN/PAC.ISL,0.084
2,2012,Misdemeanor Criminal Mischief,Victim,BLACK,0.365
3,2012,Misdemeanor Criminal Mischief,Victim,WHITE,0.289
4,2012,Misdemeanor Criminal Mischief,Victim,HISPANIC,0.254
...,...,...,...,...,...
1435,2015,Race/Ethnicity of Felony and Misdemeanor Juven...,Arrestees,WHITE,0.051
1436,2015,Race/Ethnicity of Felony and Misdemeanor Juven...,Arrestees,HISPANIC,0.306
1437,2015,Race/Ethnicity of Felony and Misdemeanor Juven...,Arrestees,Total Victims/Suspects/Arrests,5704
1438,2015,Race/Ethnicity of Felony and Misdemeanor Juven...,Arrestees,Known Race/Ethnicity,5681
1439,2015,Race/Ethnicity of Felony and Misdemeanor Juven...,Arrestees,% with Race/Ethnicity Known,0.996

In [244]:
#save crimestats
crimestats.to_csv("..\\Data_Warehouse\\NYPD_Crime_Data.csv", index=False, encoding='utf-8')

# SECTION 3: Create NYC population data file

This script interpolates NYC census data from 2010 and 2020 manually retrieved from https://www.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/census2010/pgrhc.pdf and https://www.nyc.gov/assets/planning/download/pdf/planning-level/nyc-population/census2020/dcp_2020-census-briefing-booklet-1.pdf and save the interpolated data into a single repository - NYC_Census_Data.csv.

In [230]:
nycpopdata = pd.read_csv('NYC_Census_Data_orig.csv')

In [231]:
nycpopdata

,YEAR,BRONX TOTAL,BRONX WHITE,BRONX BLACK,BRONX ASIAN,BRONX NATIVE,BRONX PAC ISLANDER,BRONX OTHER,BRONX TOTAL OTHER,BRONX MULTI,...,STATEN ISLAND TOTAL,STATEN ISLAND WHITE,STATEN ISLAND BLACK,STATEN ISLAND ASIAN,STATEN ISLAND NATIVE,STATEN ISLAND PAC ISLANDER,STATEN ISLAND OTHER,STATEN ISLAND TOTAL OTHER,STATEN ISLAND MULTI,STATEN ISLAND HISPANIC
0,2010,1385108,151209,416695,47335,3460.0,398.0,8636.0,12494,15962,...,468730,300169,44313,34697,695.0,137.0,1028.0,1860,6640,81051
1,2020,1472654,130796,419393,67766,NaN,NaN,NaN,19866,28370,...,495747,277981,46835,58753,NaN,NaN,NaN,3900,11318,96960

In [232]:
#ref: Code example provided by Gemini AI
#add rows for interpolating values

for j in range(1,10):

    # Prep new row to insert
    new_rows = pd.DataFrame({'YEAR': [2010 + j]})

    # Set insert index for new row
    insert_indices = [j]

    # Insert row
    nycpopdata = pd.concat([nycpopdata.iloc[:j], new_rows.iloc[[0]], nycpopdata.iloc[j + 0:]], ignore_index=True)

In [233]:
#visualize uninterpolated data
nycpopdata

,YEAR,BRONX TOTAL,BRONX WHITE,BRONX BLACK,BRONX ASIAN,BRONX NATIVE,BRONX PAC ISLANDER,BRONX OTHER,BRONX TOTAL OTHER,BRONX MULTI,...,STATEN ISLAND TOTAL,STATEN ISLAND WHITE,STATEN ISLAND BLACK,STATEN ISLAND ASIAN,STATEN ISLAND NATIVE,STATEN ISLAND PAC ISLANDER,STATEN ISLAND OTHER,STATEN ISLAND TOTAL OTHER,STATEN ISLAND MULTI,STATEN ISLAND HISPANIC
0,2010,1385108.0,151209.0,416695.0,47335.0,3460.0,398.0,8636.0,12494.0,15962.0,...,468730.0,300169.0,44313.0,34697.0,695.0,137.0,1028.0,1860.0,6640.0,81051.0
1,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2020,1472654.0,130796.0,419393.0,67766.0,NaN,NaN,NaN,19866.0,28370.0,...,495747.0,277981.0,46835.0,58753.0,NaN,NaN,NaN,3900.0,11318.0,96960.0

In [234]:
#ref: https://www.geeksforgeeks.org/pandas-dataframe-interpolate/

nycpopdata = nycpopdata.interpolate(method ='linear', limit_direction ='backward', direction='backward')

In [235]:
#visualize interpolated data
nycpopdata

,YEAR,BRONX TOTAL,BRONX WHITE,BRONX BLACK,BRONX ASIAN,BRONX NATIVE,BRONX PAC ISLANDER,BRONX OTHER,BRONX TOTAL OTHER,BRONX MULTI,...,STATEN ISLAND TOTAL,STATEN ISLAND WHITE,STATEN ISLAND BLACK,STATEN ISLAND ASIAN,STATEN ISLAND NATIVE,STATEN ISLAND PAC ISLANDER,STATEN ISLAND OTHER,STATEN ISLAND TOTAL OTHER,STATEN ISLAND MULTI,STATEN ISLAND HISPANIC
0,2010,1385108.0,151209.0,416695.0,47335.0,3460.0,398.0,8636.0,12494.0,15962.0,...,468730.0,300169.0,44313.0,34697.0,695.0,137.0,1028.0,1860.0,6640.0,81051.0
1,2011,1393862.6,149167.7,416964.8,49378.1,NaN,NaN,NaN,13231.2,17202.8,...,471431.7,297950.2,44565.2,37102.6,NaN,NaN,NaN,2064.0,7107.8,82641.9
2,2012,1402617.2,147126.4,417234.6,51421.2,NaN,NaN,NaN,13968.4,18443.6,...,474133.4,295731.4,44817.4,39508.2,NaN,NaN,NaN,2268.0,7575.6,84232.8
3,2013,1411371.8,145085.1,417504.4,53464.3,NaN,NaN,NaN,14705.6,19684.4,...,476835.1,293512.6,45069.6,41913.8,NaN,NaN,NaN,2472.0,8043.4,85823.7
4,2014,1420126.4,143043.8,417774.2,55507.4,NaN,NaN,NaN,15442.8,20925.2,...,479536.8,291293.8,45321.8,44319.4,NaN,NaN,NaN,2676.0,8511.2,87414.6
5,2015,1428881.0,141002.5,418044.0,57550.5,NaN,NaN,NaN,16180.0,22166.0,...,482238.5,289075.0,45574.0,46725.0,NaN,NaN,NaN,2880.0,8979.0,89005.5
6,2016,1437635.6,138961.2,418313.8,59593.6,NaN,NaN,NaN,16917.2,23406.8,...,484940.2,286856.2,45826.2,49130.6,NaN,NaN,NaN,3084.0,9446.8,90596.4
7,2017,1446390.2,136919.9,418583.6,61636.7,NaN,NaN,NaN,17654.4,24647.6,...,487641.9,284637.4,46078.4,51536.2,NaN,NaN,NaN,3288.0,9914.6,92187.3
8,2018,1455144.8,134878.6,418853.4,63679.8,NaN,NaN,NaN,18391.6,25888.4,...,490343.6,282418.6,46330.6,53941.8,NaN,NaN,NaN,3492.0,10382.4,93778.2
9,2019,1463899.4,132837.3,419123.2,65722.9,NaN,NaN,NaN,19128.8,27129.2,...,493045.3,280199.8,46582.8,56347.4,NaN,NaN,NaN,3696.0,10850.2,95369.1
10,2020,1472654.0,130796.0,419393.0,67766.0,NaN,NaN,NaN,19866.0,28370.0,...,495747.0,277981.0,46835.0,58753.0,NaN,NaN,NaN,3900.0,11318.0,96960.0

In [236]:
#save interpolated population data

nycpopdata.to_csv("..\\Data_Warehouse\\NYC_Census_Data.csv", index=False, encoding='utf-8')